// Navigation code here

nav {
  padding-top: 1%;
  color: @river-bend;
  background: @wild-sand;
  display: flex;
  border-bottom: 1px solid @sea-shell;

  @media @mobile {
    justify-content: center;
    width: 100%;
  }

  .container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-flow: column wrap;

    @media @mobile {
      width: 100%;
    }

    h1 {
      text-align: center;
      font-size: 3.5rem;
      padding-bottom: 3%;
    }

    .links {
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      padding-bottom: 1%;

      @media @mobile {
        width: 80%;
      }

      a {
        .myLinks();
      }
    }
  }
}
